mixin navLinks(name)
  a.link(href="#")= name

footer
  div.main-footer
    .container
      .row
        section.col-md-6
          div.links-container
            .col-md-4
              ul.list-unstyled
                each val in ['Закупки', 'Сервисы', 'Закон', 'В мире', 'Аналитика']
                  li
                    +navLinks(val)
            .col-md-4
              ul.list-unstyled
                each val in ['Заказчику', 'Поставщику', '44-ФЗ', '223-ФЗ', 'Бизнес-завтрак']
                  li
                    +navLinks(val)
            .col-md-4
              ul.list-unstyled
                each val in ['Инфорграфика', 'Мероприятия', 'Спецпроекты', 'Рекламадателю', 'Контакты']
                  li
                    +navLinks(val)
        section.col-md-6
          div.divider-border
            div.vertical-padding
              div.pull-left.indent
                strong.copyright © 2009–2017 ТОРГ94
              div
                a.politic( href="#" ) Политика обработки персональных данных ТОРГ94
            p.
              Зарегистрировано Федеральной службой по надзору в сфере связи, информационных
              технологий и массовых коммуникаций (Роскомнадзор).
              Свидетельство о регистрации ПИ № ФС77-62404 от 27.07.2015'.
          div
            div.row.padding-top
              .col-md-4
                strong.bold-text Следите за новостями
              .col-md-4
                include social

