header.main-header
  .wraper-brand-block.container( style="height: 100px;")
    .brand-block Hello block

  nav.navbar.navbar-inverse.navbar-static-top.main-navbar-text
    .container
      .collapse.navbar-collapse#navbar-collapse-1
        form.navbar-form.navbar-left.first-form( role="subscribe" )
          .form-group
            input.form-control( type="text" placeholder="Ваш email")
          button.btn.btn-primary( type="submit" ) ПОДПИСАТЬСЯ НА РАССЫЛКУ
        .nav.navbar-nav.navbar-right
          div.nav.navbar-nav.right-navbar-group
            ul.nav.navbar-nav
              each val in ['Заказчику', 'Поставщику', '44-ФЗ', '223-ФЗ', 'Бизнес-завтрак' ]
                li
                  a( href="#" )= val.toUpperCase()
          div.nav.navbar-nav.navbar-text
            a( href="#").navbar-link.glyphicon.glyphicon-user
