span
  .text-center.pull-left.col-xs-3
    .icon-circle
      a.ifacebook( href="#" title="Facebook" )
        i.fa.fa-facebook

  .text-center.pull-left.col-xs-3
    .icon-circle
      a.itwittter( href="#" title="Twitter" )
        i.fa.fa-vk

  .text-center.pull-left.col-xs-3
    .icon-circle
      a.igoogle( href="#" title="Google+" )
        i.fa.fa-youtube-play

  .text-center.pull-left.col-xs-3
    .icon-circle
      a.telegram( href="#" title="Telegram" )
        i.fa.fa-telegram
