.top-news-block
  .row
    .col-md-3 Hello
    .col-md-9
      .row.block-small-margin-bottom
        .col-md-8
          article.main-topic.block-small-margin-bottom.dev
            h1 Госзакупки по ФЗ-44 и ФЗ-223
            p.
              В июле 2005 года вступил в силу закон №94. (ФЗ 94) регламентирующий
              госзакупки. С 2012 года действует закон ФЗ-223, а с января 2014 на
              смену 94-ФЗ пришел закон о контрактной системе (ФЗ-44).
            .corner
          article.actual-topics.block-small-margin-bottom
            header.delimiter
              h2.delimiter-title Актуальные темы
            .row.topic
              .col-md-6
                p.
                  Стоит ли ждать поддержки государством малого бизнеса в 2018 году?
              .col-md-6
                p.
                  Куда лучше вложить деньги — в закупки или в евро?
        .col-md-4
          article.dev
      .row
        .col-md-8
          article.day-news
            header
              div #{'Новость дня'.toUpperCase()}
              h2.
                Власти подталкивают производителей
                к развитию
            p.
              Правительство утвердило правила допуска к госзакупкам
              импортных одноразовых пластиковых медицинских изделий,
              следует из постановления, опубликованного на сайте правительства.
            footer
              div
                span Сегодня
                span 15:35
                span Владислав Ренатов
                span 227
        .col-md-4
          section.ad-1
