-
  var client = {
    header: 'Заказчики',
    body: "Поиск по реестру всех заказчиков 223-ФЗ. Рейтинги самых крупных" +
          " заказчиков. Детальная информация о динамике кол-ва и объемах публикуемых" +
          " закупок. Распределение закупок заказчика по площадкам. Поиск по всем" +
          " закупкам. И другое."
  };
-
  var uz = {
    header: 'Реестр уц',
    body: 'Карта с РФ с более чем 700 пунктами выдачи ЭП и контактной ' +
          'информацией по каждому отделению. Возможность поиска ближайшего УЦ' +
          ' по городу. Постоянно пополняемая база удостоверяющих центров.'
  };
-
  var places = {
    header: 'Площадки',
    body: 'Список всех ЭТП, работающих с 223-ФЗ. Рейтинги ЭТП по ключевым' +
          ' параметрам. Рейтинги самых крупных заказчиков по каждой ЭТП. Динамика' +
          ' закупок, публикуемых на площадках. Справочная информация.'
  };

section.useful-information
  .row
    each val in [client, uz, places]
      acticle.col-md-3
        header
          h4= val.header.toUpperCase()
        p= val.body
        footer
          a( href="#" ) Узнать больше
