doctype html
html
  head
    link( rel='stylesheet',
      href='css/index.css' )
    link( href="https://fonts.googleapis.com/css?family=Fira+Sans",
      rel="stylesheet" )
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
      rel="stylesheet",
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN",
      crossorigin="anonymous")
  body
    include blocks/header.pug
    div.container
      main.dev
        include blocks/subNavPanel
        include blocks/topNewsBlock
        include blocks/usefulInfomation
    include blocks/footer.pug
    script(src="https://code.jquery.com/jquery-2.2.4.js",
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=",
      crossorigin="anonymous")
    script(src="js/all.js")

