@import "social";

.indent {
 padding-right: $padding-large-horizontal;
}

.main-footer {
  padding: 44px;
  background-color: $gray-dark;
}

.main-footer .links-container {
  margin: 0 auto;
  width: 552px;
}

.main-footer .link {
  font-size: $font-size-base;
  line-height: 2.65;
  letter-spacing: 0.4px;
  text-align: left;
  color: $inverse-link-color;
}

.main-footer p {
  font-size: $font-size-base;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 35px;
  color: $gray-light;
}

.copyright {
  font-size: $font-size-small;
  line-height: 3;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
}

.politic {
  font-size: $font-size-small;
  line-height: 3;
  letter-spacing: 0.3px;
  text-align: left;
  color: #33b1cb;
}

.main-footer .padding-top {
  padding-top: 25px;
}

.main-footer .bold-text {
  color: $inverse-link-color;
  line-height: 2.65;
}
