
.main-topic {
  position: relative;
  padding: 10px 30px;
}

.main-topic h1 {
  margin-bottom: 24px;
  font-family: HoeflerText, serif;
  font-size: 40px;
  line-height: 1.1;
  text-align: left;
  color: $greyish-brown;
}

.main-topic p {
  font-family: FiraSans, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.4px;
  text-align: left;
  color: $gray-base;
  margin: 0 0 35px;

}

.main-topic .corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-bottom: 25px solid #000;
  border-right: 25px solid transparent;
}

.actual-topics {
  header {
    margin: 0 0 10px;
    color: $tealish;
  }

  h2 {
    font-size: 11px;
    line-height: 3.1;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: left;
    margin: 0
  }
  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    letter-spacing: 0.5px;
  }

  .topic {
    width: 94%;
    margin: 0 auto;
  }
}

.day-news {
  border: solid 8px $silver;
  text-align: center;

  header {

    div {
      display: inline-block;
      line-height: 1;
      padding: 10px;
      background-color: yellow;
      font-weight: 600;
    }
    h2 {
      font-family: HoeflerText, serif;
      font-size: 40px;
      line-height: 1.1;
      color: #000000;
    }
  }
  footer {
    text-align: center;
  }
}
