.useful-information{
  color: inherit;
}
.useful-information h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: $greyish-brown;
  margin-bottom: 16px;
}

.useful-information p {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.4px;
  text-align: left;
  color: $greyish-brown;
}

.useful-information a {
  font-size: 12px;
  font-weight: 600;
  line-height: 2.17;
  letter-spacing: 0.3px;
  text-align: left;
  color: $tealish;
}
