$icon-font-path: "/assets/fonts/bootstrap/";
@import "custom_variables";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'header';
@import 'subNavPanel';
@import 'topNewsBlock';
@import 'usefulInformation';
@import 'footer';

.dev {
  border: 1px dashed orange;
}

.divider-border {
  border-bottom: 1px solid $gray-light
}

.vertical-padding {
  padding-bottom: 10px;
}

.block-small-margin-bottom {
  margin-bottom: 20px;
}

.block-margin-bottom {
  margin-bottom: 30px;
}

.delimiter {
  position: relative;
  line-height: 1.42857;
  text-transform: uppercase;
  color: #777777;
}

.delimiter::before {
  position: absolute;
  top: 36.4444444%;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #eee;
}

.delimiter-title {
  margin-top: 0;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  background-color: #fff;
}

.ad-1 {
  width: 305px;
  height: 451px;
  background: url(../assets/mersedes.jpg) no-repeat center ;
}
